exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(RcppArmadillo)
export(DST_Solver)
export(ExpandGrid)
export(NormalizedExp)
export(Simulate_State_Obser)
export(computeB)
export(computeLambda)
export(generateD)
export(generate_derivative)
export(simulate_wrapper)
export(wrap_outiu_function)
importFrom(Deriv,Deriv)
useDynLib(YauYauAL, .registration = TRUE)

